<?xml version="1.0" encoding="UTF-8"?>

<openbox_menu>
<!-- Note: for localization support of menu items "client-menu" has to be removed here -->
<menu id="client-menu">
  <item label="Minimize">
    <action name="Iconify" />
  </item>
  <item label="Maximize">
    <action name="ToggleMaximize" />
  </item>
  <item label="Fullscreen">
    <action name="ToggleFullscreen" />
  </item>
  <item label="Roll Up/Down">
    <action name="ToggleShade" />
  </item>
  <item label="Decorations">
    <action name="ToggleDecorations" />
  </item>
  <item label="Always on Top">
    <action name="ToggleAlwaysOnTop" />
  </item>
  <!--
    Any menu with the id "workspaces" will be hidden
    if there is only a single workspace available.
  -->
  <menu id="workspaces" label="Workspace">
    <item label="Move Left">
      <action name="SendToDesktop" to="left" />
    </item>
    <item label="Move Right">
      <action name="SendToDesktop" to="right" />
    </item>
    <separator />
    <item label="Always on Visible Workspace">
      <action name="ToggleOmnipresent" />
    </item>
  </menu>
  <!--
    openbox default workspace selector
    to use replace above workspace menu with the example below
    the label is required, but you can change the text.

    <menu id="client-send-to-menu" label="Send to..." />
  -->
  <item label="Close">
    <action name="Close" />
  </item>
</menu>

<menu id="root-menu">
  <!-- Make client-list-combined-menu a submenu of root-menu
       You must supply a label or it will not appear in root-menu -->
  <!--
  <menu id="client-list-combined-menu" label="Running..." />
  -->
  <!-- Dynamic, categorised applications menu, generated from installed
       .desktop files each time it is opened (labwc-menu-generator). -->
  <menu id="applications" label="Applications" execute="labwc-menu-generator -p -I -t 'x-terminal-emulator -e'" />
  <item label="Terminal">
    <action name="Execute" command="x-terminal-emulator" />
  </item>
  <item label="File manager">
    <action name="Execute" command="pcmanfm-qt" />
  </item>
  <item label="Web browser">
    <action name="Execute" command="x-www-browser" />
  </item>
  <separator />
  <menu id="screenshot-menu" label="Screenshot">
    <item label="Whole screen">
      <action name="Execute">
        <command>sh -c 'mkdir -p ~/screenshots;grim ~/screenshots/$(date +%Y-%m-%d_%H-%M-%S).png'</command>
      </action>
    </item>
    <item label="Select a region">
      <action name="Execute">
        <command>sh -c 'mkdir -p ~/screenshots;grim -g "$(slurp)" ~/screenshots/$(date +%Y-%m-%d_%H-%M-%S).png'</command>
      </action>
    </item>
  </menu>
  <separator />
  <item label="Exit">
    <action name="Execute" command="wlogout" />
  </item>
</menu>

</openbox_menu>
