[Desktop Entry]
Name=Web Browser
Comment=Full-screen web browser in the cage compositor
Exec=cage -s -- /usr/libexec/cage-kiosk x-www-browser
DesktopNames=browser-kiosk;wlroots
Type=Application
NoDisplay=true
