[Desktop Entry]
Name=Web Browser
Comment=Full-screen web browser in the cage compositor
Exec=cage -- /usr/libexec/cage-kiosk /usr/libexec/cage-kiosk-loop x-www-browser
DesktopNames=browser-kiosk;wlroots
Type=Application
NoDisplay=true
