Source: aptosid-settings-desktop
Section: graphics
Priority: optional
Maintainer: Stefan Lippers-Hollmann <s.l-h@gmx.de>
Uploaders: Kel Modderman <kelvmod@gmail.com>
Rules-Requires-Root: no
Build-Depends: debhelper-compat (= 13)
Standards-Version: 4.7.0
Vcs-Git: https://github.com/fullstory/aptosid-settings-desktop.git
Vcs-Browser: https://github.com/fullstory/aptosid-settings-desktop

Package: aptosid-icons
Depends: ${misc:Depends}
Architecture: all
Description: aptosid logo and icons
 Provides the aptosid logo and icons for use in desktop settings.

Package: aptosid-settings-qt-gtk
Depends: ${misc:Depends},
 qt5-gtk2-platformtheme,
 qt6-gtk-platformtheme,
 libadwaitaqt1,
 libadwaitaqt6-1
Architecture: all
Description: aptosid qt-gtk style configuration
 Sets the QT_QPA_PLATFORMTHEME=gtk2 and QT_WAYLAND_DECORATION=adwaita
 environment variable to enable GTK/Gnome styling of QT applications.
 .
 Configuration files:
    /etc/Xsession.d/99aptosid-settings-qt-gtk
    /etc/environment.d/aptosid-settings-qt-gtk.conf

Package: aptosid-settings-budgie
Depends: ${misc:Depends},
 aptosid-icons,
 aptosid-art-wallpaper-nemesis
Recommends: xdg-browser-launcher,
 aptosid-settings-qt-gtk,
 arc-theme,
 bibata-cursor-theme,
 fonts-noto,
 mint-y-icons
Architecture: all
Description: provide default Budgie settings for aptosid
 Provides default settings for appearance and applications of the Budgie
 Desktop Environment in aptosid.
 .
 This overrides Budgie's defaults used for new users, all settings remain
 configurable by the local user and don't override already existing user
 profiles.

Package: aptosid-settings-cinnamon
Depends: ${misc:Depends},
 aptosid-icons,
 aptosid-art-wallpaper-nemesis
Recommends: xdg-browser-launcher,
 aptosid-settings-qt-gtk,
 arc-theme,
 bibata-cursor-theme,
 fonts-noto,
 mint-y-icons
Architecture: all
Description: provide default Cinnamon settings for aptosid
 Provides default settings for appearance and applications of the Cinnamon
 Desktop Environment in aptosid.
 .
 This overrides Cinnamon's defaults used for new users, all settings remain
 configurable by the local user and don't override already existing user
 profiles.

Package: aptosid-settings-gnome
Depends: ${misc:Depends},
 aptosid-icons,
 aptosid-art-wallpaper-nemesis
Recommends: xdg-browser-launcher,
 aptosid-irc,
 aptosid-settings-qt-gtk,
 arc-theme,
 bibata-cursor-theme,
 fonts-noto,
 mint-y-icons
Architecture: all
Description: provide default Gnome settings for aptosid
 Provides default settings for appearance and applications of the Gnome
 Desktop Environment in aptosid.
 .
 This overrides Gnome's defaults used for new users, all settings remain
 configurable by the local user and don't override already existing user
 profiles.

Package: aptosid-settings-kde
Depends: ${misc:Depends},
 aptosid-icons,
 aptosid-art-kde,
 aptosid-art-wallpaper-nemesis,
 plasma-framework
Recommends: xdg-browser-launcher,
 fonts-dejavu
Architecture: all
Description: provide default KDE settings for aptosid
 Provides default settings for appearance and applications of the K Desktop
 Environment in aptosid.
 .
 This overrides KDE's defaults used for new users, all settings remain
 configurable by the local user and don't override already existing user
 profiles.

Package: aptosid-settings-lxqt
Depends: ${misc:Depends},
 aptosid-icons,
 aptosid-art-wallpaper-nemesis
Recommends: xdg-browser-launcher,
 arc-theme,
 mint-y-icons
Architecture: all
Description: provide default LXQt settings for aptosid
 Provides default settings for appearance and applications of the LXQt Desktop
 Environment in aptosid.
 .
 This overrides LXQt's defaults used for new users, all settings remain
 configurable by the local user and don't override already existing user
 profiles.

Package: aptosid-settings-xfce
Depends: ${misc:Depends},
 aptosid-icons,
 aptosid-art-wallpaper-nemesis
Recommends: xdg-browser-launcher,
 arc-theme,
 aptosid-settings-qt-gtk,
 bibata-cursor-theme,
 fonts-noto,
 mint-y-icons
Architecture: all
Description: provide default Xfce settings for aptosid
 Provides default settings for appearance and applications of the Xfce
 desktop in aptosid.
 .
 This overrides Xfce's defaults used for new users, all settings remain
 configurable by the local user and don't override already existing user
 profiles.
