[Desktop Entry]
Exec=/usr/share/aptosid-settings-xfce/aptosid_settings_xfce
Name=Configure aptosid settings for XFCE
NoDisplay=true
StartupNotify=false
Terminal=false
Type=Application
